body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    width: 100%;
    aspect-ratio: 3 / 1;
    background: grey;
}

#prev-frame-img {
    width: 100%;
    transform: translateY(-100%);
    opacity: 0.25;
    filter: hue-rotate(180deg);
}

#prev-frame-img:hover {
    opacity: 1;
}